{% extends '_base/base.html' %}
{% load i18n %}
{% load bootstrap5 %}


{% block content %}
  <div class="row my-4">
    <div class="col">
      <h1 class="text-primary text-center mb-4">{% trans 'Veuillez prouver que vous êtes un administrateur' %}</h1>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">{% trans 'Connexion' %}</button>
      </form>
    </div>
  </div>
{% endblock %}
