{% extends '_base/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="row text-center my-4">
    <div class="col">
      <h1 class="text-primary mb-4">{% trans 'Bienvenue dans notre FAQ' %}</h1>
      <img class="w-50" src="{% static 'images/faq_hero.jpg' %}"  alt="FAQ Hero"/>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h5 class="text-secondary">{% trans "Il n'y a jamais de question bête" %}</h5>
      <a href="{% url 'faq:add' %}" class="btn btn-primary mt-3">{% trans 'Posez votre question' %}</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
      <h4 class="text-secondary text-center mb-3">{% trans 'Liste de toutes les questions posées' %}</h4>
      <div class="accordion" id="accordionFaq">
        {% for obj in object_list %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ obj.id }}">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ obj.id }}" aria-expanded="true" aria-controls="collapse{{ obj.id }}">
                {{ obj.question }}
              </button>
            </h2>
            <div id="collapse{{ obj.id }}" class="accordion-collapse collapse show" aria-labelledby="heading{{ obj.id }}" data-bs-parent="#accordionFaq">
              <div class="accordion-body">
                <div class="mb-3">
                  <h6>{% trans 'Réponse' %}</h6>
                  {{ obj.answer }}
                </div>
                <div>
                  <h6 class="mt-3">{% trans 'Catégorie' %}</h6>
                  {{ obj.category|default_if_none:_("Aucune") }}
                </div>
              </div>
            </div>
          </div>
        {% empty %}
          <p class="text-center">{% trans 'Aucune réponse aux questions pour le moment' %}</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
