{% extends '_base/base.html' %}
{% load i18n %}
{% load bootstrap5 %}


{% block content %}
  <div class="row my-4">
    <div class="col">
      <h1 class="text-primary text-center mb-4">{{ title }}</h1>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" name="valid" class="btn btn-primary btn-block">
          {% trans "Valider" %}
        </button>
      </form>
    </div>
  </div>
{% endblock %}
