{% extends '_base/base.html' %}
{% load i18n %}
{% load bootstrap5 %}


{% block content %}
  <div class="row my-4">
    <div class="col">
      <h1 class="text-primary text-center mb-4">{{ title }}</h1>
      <form method="post">
        {% csrf_token %}
        <div class="card shadow-sm mb-3">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div>
              <h6 class="card-title">{{ object.question }}</h6>
              <p>{% trans 'Catégorie' %} : <span class="text-secondary">{{ object.category }}</span></p>
            </div>
          </div>
        </div>
        {% bootstrap_form form %}
        <button type="submit" name="valid" class="btn btn-primary btn-block">
          {% trans "Répondre" %}
        </button>
      </form>
    </div>
  </div>
{% endblock %}
