{% extends '_base/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="row text-center my-4">
    <div class="col">
      <h1 class="text-primary">{% trans 'Bienvenue dans votre espace personnel' %} <strong>{{ user }}</strong> !</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4 class="text-secondary text-center mb-4">{% trans 'Liste des questions non répondues' %}</h4>
      <div class="d-grid gap-3">
        {% for obj in object_list %}
          <div class="card shadow-sm">
            <div class="card-body d-flex justify-content-between align-items-center">
              <div>
                <h6 class="card-title">{{ obj.question }}</h6>
                <p>{% trans 'Catégorie' %} : <span class="text-secondary">{{ obj.category|default_if_none:_("Aucune") }}</span></p>
              </div>
              <div>
                <a class="btn btn-primary" href="{% url 'faq:update' pk=obj.id %}">{% trans 'Répondre' %}</a>
              </div>
            </div>
          </div>
        {% empty %}
          <p class="text-center">{% trans 'Aucune question en attente pour le moment' %}</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
