{% load bootstrap5 %}


<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="ChristianNomena">
  <meta name="description" content="Une application de FAQ pour les visiteurs du site web">
  <title>FAQ Web App</title>

  {% bootstrap_css %}
  {% block stylesheet %}
  {% endblock %}
</head>
<body>
  {% include '_base/header.html' %}

  <main class="container">
    {% include '_base/messages.html' %}
    {% block content %}
    {% endblock %}
  </main>

  {% include '_base/footer.html' %}

  {% bootstrap_javascript %}
  {% block scripts %}
  {% endblock %}
</body>
</html>