{% load i18n %}

<header>
  <nav class="navbar navbar-expand-lg bg-light navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'faq:index' %}"><strong>FAQ</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'faq:index' %}">{% trans 'Accueil' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'faq:add' %}">{% trans 'Poser une question' %}</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'faq:list_admin' %}">{% trans 'Répondre aux questions' %}</a>
            </li>
          {% endif %}
        </ul>
        {% if user.is_authenticated %}
          <a class="nav-link btn btn-danger text-white" href="/logout/">{% trans 'Se déconnecter' %}</a>
        {% else %}
          <a class="nav-link btn btn-primary text-white" href="/login/">{% trans 'Se connecter' %}</a>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
